.container-fluid.main
  = render partial: 'title'
  %br
  .content
    = form_tag('/uneven', method: "get") do
      .row
        .col-xs-12
          = label_tag 'Number of People:'
          = number_field_tag(:people, nil, min: 2, max: 20)
      %br
      %br
      = submit_tag 'Split Proportionately', class: 'btn btn-success'

    / .row
    /   .col-xs-12
    /     = link_to 'Split Evenly', '/even'
