.container-fluid.main
  %h1 Check Splitter
  %h2 Split Unevenly
  %p Enter each diner's amounts separated by a space.

  = form_tag('/uneven-results', method: "get") do
    .row
      .col-xs-12
        = label_tag 'Diner 1'
        = text_field_tag(:p1)
    .row
      .col-xs-12
        = label_tag 'Diner 2'
        = text_field_tag(:p2)
    .row
      .col-xs-12
        = label_tag 'Diner 3'
        = text_field_tag(:p3)
    .row
      .col-xs-12
        = label_tag 'Diner 4'
        = text_field_tag(:p4)
    .row
      .col-xs-12
        = label_tag 'Diner 5'
        = text_field_tag(:p5)
    .row
      .col-xs-12
        = label_tag 'Tax Amount:'
        = number_field_tag(:tax, nil, step: 'any')
    .row
      .col-xs-12
        = label_tag 'Tip Percentage'
    .row
      .col-xs-12
        = radio_button_tag(:tip, '15%', 0.15)
        = label_tag '15%'
        %br
        = radio_button_tag(:tip, '18%', 0.18)
        = label_tag '18%'
        %br
        = radio_button_tag(:tip, '20%', 0.20)
        = label_tag '20%'
        %br
        = radio_button_tag(:tip, '25%', 0.25)
        = label_tag '25%'
    = submit_tag 'Split Now'

  %div= link_to 'Split Equally', root_path
